<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.paper.healthy">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_healthy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_healthy"
        android:supportsRtl="true"
        android:name="org.litepal.LitePalApplication"
        android:theme="@style/Theme.Healthy"
        tools:targetApi="31"
        tools:ignore="MissingClass">

        <!--欢迎页面-->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--android:exported = false的情况下，这个Activity将只会被当前Application或者
        拥有同样user ID的Application的组件调用，
        对于其他应用，即使有intent-filter匹配，也无法打开，即无法被其他应用隐式调用
        -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!--注册页面-->
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <!--忘记密码页面-->
        <activity
            android:name=".login.ForgetActivity"
            android:exported="false" />
        <!--登录页面-->
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
    </application>

</manifest>